<div *ngIf="offerMessage" class="modal fade show d-block" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img src="assets/offer.png">
            <button type="button" class="close-button" aria-label="Close" (click)="closeOfferMessage()">
            <i class="fas fa-close"></i>
            
            </button>
        </div>
    </div>
</div>