/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  /* Main Container Styles */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Contact Section Styles */
  .contact {
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  a{
    color:#777;
  }
  /* Top Section Styles */
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  .details h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Additional Details Styles */
  .contact h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .contact p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
  }
  
  /* Form Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: #007bff;
  }
  
  /* Button Styles */
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover{
    background-color: #0056b3;
  }
  
  /* Message Text Box Styles */
  .message-box {
    margin-top: 20px;
  }
  
  textarea {
    resize: vertical;
  }
  .align-items-center i{
    margin-left:45px;
    padding:3px;
  }
  