<app-header></app-header>
<div class="main vh-100">
    <div class="confirmation-message-container-fluid d-flex ">
        <img src="assets/fruits.png" alt="Fruits Image">
        <div class="confirmation-card">
            <h2>Order Confirmed!</h2>
            <p>Thank you for choosing us. Your order will be delivered soon!!<br>
                <strong>Payment Method:</strong> Online Transcation
                <span>Have a nice day <i class="fas fa-heart"></i></span>
            </p>
            <button (click)="home()" class="btn btn-primary">Go to Home Page</button>
        </div>
    </div>
</div>
